body, html {
/*    width: 100%;*/
/*    height: 100%;*/
    margin: 0%;
    font-family: 'Poppins', sans-serif;
    background: #ffd9b0;
    color: white;
    line-height: 1.7;
}
* {
    box-sizing: border-box;
}

ul,li{
    padding: 0;margin: 0;
}
.fa, .fas {
    font-weight: 600;
    right: 0;
    font-size: 12px;
    padding-left: 84%;
}
.group-common:hover .dropdown-menu{
    opacity: 1;
    z-index: 22;
}
.dropdown-item:hover{
    background-color: coral;
}
.dropdown-menu{
    position: absolute;
    opacity: 0;
   
    list-style: none;
    margin: 0;
     background-color: white;
    color: black;
}
.dropdown-item {
    list-style-type: none;
    color: white;
     padding: 3px;
    
}

.fa, .fas, .far, .fal, .fab {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
}
.main {
    padding: 115px 0;
    position: relative;
}
.container {
    width: 1150px;
    margin: 0 auto;
    border-radius: 10px;
    overflow: hidden;
    background-color: #111;
}
.image-sec {
    width: 58.33%;
    float: left;
    margin-bottom: -8px;
}
.image-sec img
{
    width: 100%;
}
.form-sec {
    width: 41.67%;
    float: left;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav-link{
/*    padding: 10px;*/
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    color:#bebebe; 
    width: 100%; 
        border-bottom: 1px solid #999;
    z-index: 19;
}
.simp{
    list-style: none;
    text-decoration: none;
    color: cornflowerblue;
   padding-right: 280px;
    color: black;
}
.simp1{
    padding-right: 145px;

}
form {
    padding: 72px 70px 70px 72px;
}
.book {
    font-weight: bold;
    font-size: 21px;
    text-align: center;
    margin-bottom: 28px;
    display: block;
}
.input-data {
    padding-top: 21px;
}

.group-common {
    margin-bottom: 10px;
    position: relative;
}
input {
    width: 100%;
    display: block;
    border: none;
    background: transparent;
    border-bottom: 1px solid #999;
    padding: 4px 0;
   color: #bebebe;

}
::placeholder
{
        color: #bebebe;
    font-size: 16px;

}


.radio-text input+label:hover{
    background-color: firebrick;
border: none;
}
.comm-label {
    position: absolute;
    left: 0;
    top: 17px;
    color: #bebebe;
}
.items {
    display: inline-block;
    width: 100%;
    border-bottom: 1px solid #999;
    padding-top: 21px;
}
.select-css {
    display: block;
    background: transparent;
    color: #bebebe;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    border: none;
}
option {
    font-weight: normal;
    display: block;
    white-space: pre;
    min-height: 1.2em;
    padding: 0px 2px 1px;
}
.select-css {
    display: block;
    background: transparent;
    color: #bebebe;
    font-size: 16px;
    width: 100%;
    max-width: 100%;
    border: none;
}
.radio-text {
    margin-bottom: 65px;
    padding-top: 20px;
    width: 100%;
}
.text-label {
    padding-top: 4px;
    margin-bottom: 18px;
    display: block;
}
.radio-span {
    display: inline-block;
}
.radio-text input {
    width: 0;
    height: 0;
}
.radio-text input+label {
    display: inline-block;
    border: 2px solid #ebebeb;
    background-color: #fff;
    width: 36px;
    height: 36px;
    text-align: center;
    color: #888;
    font-weight: 600;
    margin: 0 3px;
    border-radius: 50%;
    padding-top: 3px;
}
.form-button {
    width: 100%;
}
input[type="submit"] {
    width: auto;
    background-color: #edb77d;
    color: white;
    font-weight: 800;
    padding: 15px 43px;
    border-radius: 5px;
    border: none;
}
.verify {
    text-decoration: none;
    font-size: 11px;
    margin-top: 14px;
    color: #edb77d;
    display: block;
}